#page-top {
    background-color: LightGray
}

.board{
    margin-left: 200px;
    margin-right: 200px;
}

#boardlist {
    height: 100px;
}

#boardview {
    height: 100px;
    
}

#boardwrite{
    height: 100px;
}

.boardbottom {
    height: 200px;
}