.write {
   border-radius: 25px;
   border: 2px solid gray;
   padding: 40px;
   background-color: white;
 }
 
 @media ( max-width: 480px ) {
    #write {
      float: none;
      width: auto;
    }
 }
 
 .textArea {
    overflow-y: scroll;
    width: 100%; /* 정렬하려는 요소의 넓이를 반드시 지정 */
    margin: 0 auto; 
 }
 
 .button {
    margin: 1 auto;
 }
 
 .contents-bottom {
    text-align:center;
    margin-top: 20px;
 }